<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ProcesioAuthURL" value="https://api.procesio.app:4532/"/>
		<add key="ProcesioAuthMethod" value="/api/Authentication"/>
		<add key="ProcesioURL" value="https://api.procesio.app:4321/"/>
		<add key="ProcesioRunMethod" value="/api/Projects/{0}/run"/>
		<add key="ProcesioPublishMethod" value="/api/Projects/{0}/instances/publish"/>
		<add key="ProcesioLaunchMethod" value="/api/Projects/instances/{0}/launch"/>
		<add key="ProcesioUploadFlowFile" value="/api/File/upload/flow"/>
	</appSettings>
</configuration>